// https://www.color-blindness.com/color-name-hue/

$white: #FFFFFF;
$white-smoke: #F9F9F9;
$paper: #DAD0AA;
$solitude: #EDEEF3;
$grey: #666666;
$british-racing-green: #15303D;
$bright-turquoise: #EF6F59;
$shamrock: #37baa8;
$denim-blue: #0F61A9;
$lochmara: #3176A0;